* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
/*hi*/
body {
    font: 16px 'Courier New', Courier;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    background: rgb(255, 255, 255);
}
#body {
    color: white;
}
button, input[type="text"], input[type="number"], .select-container, select, #theme{
    color: white;
    background: #222;
    border: none;
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
}
#auto-select, #theme, #connect-button, #change-theme {
    height: 28px;
    font-family: 'Courier New', Courier;
    font-size: 14px;
    cursor: pointer;
    border: none;
}
.select-container {
    padding: 0;
    display: inline-block;
}
select {
    border: none;
    background: none;
    color: white;
    height: 25px;
}
input[type="text"], input[type="number"] {
    cursor: text;
}
input[type="checkbox"] {
    -webkit-filter: saturate(0);
    filter: saturate(0);
}
/* Major interface panes, aside, article, header, etc. */
body > * {
    padding: 10px;
    position: fixed;
    overflow: hidden;
    background: #2a2a2a;
}
#timer {
    font-family: 'Courier New', Courier;
    display: block;
    height: 10vh;
    width: 10vw;
    top: 0;
    left: 0;
    font-size: 1000%;
    line-height: .8;
    color: #ffffff;
}
#robot-connection {
    position: absolute;
    display: block;
    top: 10%;
    left: 39%;
}
#theme-holder {
    position: absolute;
    display: block;
    top: 10%;
    left: 31%;
}
#change-theme {
    position: absolute;
    display: block;
    top: 110%;
    left: 0;
    font-family: 'Courier New', Courier;
    width: 100%;
}
#theme-output {
    position: absolute;
    display: block;
    top: 180%;
    left: 0;
}
#drive-direction {
    position: absolute;
    display: block;
    top: 45%;
    left: 39%;
}
header {
    width: 20vw;
    height: 20vh;
    top: 0;
    left: 30vw;
    color: white;
}
.cam {
    width:30%;
    height:40%;
    padding:0;
    background-repeat: no-repeat;
    margin: auto 0;
    position: fixed;
    overflow: hidden;
    background-size: contain; 
    border: 2px solid #2a2a2a;
}
#cameraOne {
    bottom: 40%;
    left: 0%;
    background-color: rgb(200 , 200 , 200);
    /* You'll need to mess with this a bit to get your camera to work. Replace the url with a live-updating image feed from your camera. Using other camera streaming systems will require some tweaking. */
    background-image: url(http://frcvision.local:1181/stream.mjpg);
}

#cameraTwo {
    left: 30%;
    bottom: 40%;
    background-color: rgb(200 , 200, 200);
    /* You'll need to mess with this a bit to get your camera to work. Replace the url with a live-updating image feed from your camera. Using other camera streaming systems will require some tweaking. */
    background-image: url(http://frcvision.local:1181/stream.mjpg);
}

#cameraThree {
    bottom: 0%;
    left: 0%;
    background-color: rgb(200 , 200 , 200);
    /* You'll need to mess with this a bit to get your camera to work. Replace the url with a live-updating image feed from your camera. Using other camera streaming systems will require some tweaking. */
    background-image: url(http://frcvision.local:1181/stream.mjpg);
}

#cameraFour {
    bottom: 0%;
    left: 30%;
    width: 30%;
    /* padding-left: 30; */
    background-color: rgb(200 , 200 , 200);
    /* You'll need to mess with this a bit to get your camera to work. Replace the url with a live-updating image feed from your camera. Using other camera streaming systems will require some tweaking. */
    background-image: url(http://frcvision.local:1181/stream.mjpg);
}
.top {
    width: 100%;
    height: 20%;
    background-repeat: no-repeat;
    background-color: #2a2a2a;
    position: absolute;
    left: 0%;
    top: 0%;
    background-size: contain;
}
article {
    top: 0;
    left: 50vw;
    height: 100vh;
    width: 35vw;
}
svg * {
    stroke: white;
    fill: rgb(185, 17, 53);
    stroke-width: 2;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}
text {
    font-size: 16px;
    letter-spacing: 2px;
    stroke: none;
    fill: white;
}
#gyro {
    width: 175px;
    height: 175px;
    margin-left: 30px;
    margin-top: 15px;
}
#gyro-arm {
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
}
#gyro-number {
    font-size: 25px;
    text-anchor: middle;
}
#robot-diagram {
    position: absolute;
    bottom: 1px;
    right: 1vw;
}
#robot-arm {
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
}
#team {
    font-size: 28px;
    letter-spacing: -1px;
}
aside {
    right: 0;
    top: 0;
    width: 40%; /* started at 15 */
    height: 100%;
}
aside > * {
    margin-bottom: 20px;
}

#logo {
    overflow: hidden;
}
#login {
    position: fixed;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8)
}
body.login #login {
    display: flex;
}
#login :disabled {
    opacity: 0.6;
}
#login > * {
    height: 40px;
}
#login > button {
    margin-left: 5px;
}
/* ya */